@charset "UTF-8";

* {
    margin: 0; padding: 0;
    font-size: 14px; color: #222328;
    line-height: 1.5; text-decoration: none;
    list-style: none; box-sizing: border-box;
}
.wrap {
    width: 1200px; margin: 0 auto;
    background: #eee;
}
header {
    display: flex; justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid #000;
}
header h1 a {
    display: block;
    width: 151px; height: 100%;
    background: url(../images/logo.png) no-repeat 0 50%;
    text-indent: -9999px;
}
.slide {
    height: 300px;
    background: tomato;
}
.container {
    height: 200px;
}
footer {
    height: 100px;
    border-top: 1px solid #000;
}