@charset "UTF-8";

* {
    margin: 0; padding: 0;
    font-size: 14px; color: #222328;
    line-height: 1.5; text-decoration: none;
    list-style: none; box-sizing: border-box;
}
/* comm */
.blind {
    /* display: none; 스크린 리더가 못 읽음 */
    overflow: hidden; 
    text-indent: -9999px; line-height: 0;
    width: 0; height: 0;
}


.wrap {
    width: 1200px; margin: 0 auto;
    /* background: #eee; */
}
header {
    display: flex; justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid #002866;
}
header h1 a {
    display: block;
    width: 151px; height: 100%;
    background: url(../images/logo.png) no-repeat 0 50%;
    text-indent: -9999px;
}
.nav-depth1 {
    display: flex;
}
.nav-depth1 > li {
    position: relative;    
}
.nav-depth1 > li > a {
    display: block;
    height: 100px; padding: 0 40px;
    line-height: 100px;
}
.nav-depth1 > li > a:hover {
    font-weight: bold;
    color: tomato;
    border-bottom: 3px solid tomato;
}
/* 전체 2depth 메뉴 확대 */
.nav-depth1:hover .nav-depth2 {
    /* display: block; */
    height: 145px; padding: 10px 0;
}
/* 각각의 2depth 메뉴 확대 */
/* .nav-depth1 li:hover .nav-depth2 {
    display: block;
} */
.nav-depth2 {
    /* display: none; */
    overflow: hidden;
    position: absolute;top: 100px;left: 0;
    width: 100%; padding: 0; height: 0;
    background: #fff;
    transition: all .5s;
}
/* .nav-depth2 li:hover {
    background: red;
}
.nav-depth2 li:hover a {
    color: #fff;
} */
.nav-depth2 a {
    display: block;
    padding: 5px 0;
    text-align: center;
}
.nav-depth2 a:hover {
    background: tomato;
    color: #fff;
}

.slide {
    position: relative;
    height: 300px;
    background: tomato;
}
.slide ul {
    display: flex;
    position: absolute;top: 0;left: 0;
}
.slide img {
    display: block;
}
.container {
    display: flex; justify-content: space-between;
    height: 200px; padding: 10px 0;
}
.container .tab, .container section {
    width: 32%;
}
.sec-bnr a {
    display: block;
}
.sec-goto .lst-goto {
    display: flex; flex-wrap: wrap;
    justify-content: space-between;    
    align-content: space-between;
    height: 180px;
}
.lst-goto li {
    width: 48%;
}
.lst-goto a {
    display: flex;
    justify-content: center; align-items: center;
    height: 85px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 11px;
}
.lst-goto i {
    margin-right: 5px;
    font-size: 2.5em;
}

footer {
    height: 100px;
    border-top: 1px solid #000;
}